__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg
*.pyc
*.pyo
*.pyd
evaluation/debugger/__pycache__/__init__.cpython-310.pyc
evaluation/debugger/__pycache__/IO_Coder.cpython-310.pyc
evaluation/debugger/__pycache__/IO_debugger.cpython-310.pyc
evaluation/debugger/__pycache__/prompt.cpython-310.pyc
evaluation/debugger/__pycache__/responser.cpython-310.pyc
evaluation/leetcode_oj/__pycache__/__init__.cpython-310.pyc
evaluation/leetcode_oj/__pycache__/leetcode_tester.cpython-310.pyc
evaluation/leetcode_oj/leetcode_env/__pycache__/__init__.cpython-310.pyc
evaluation/leetcode_oj/leetcode_env/__pycache__/environment.cpython-310.pyc
evaluation/leetcode_oj/leetcode_env/__pycache__/types.cpython-310.pyc
evaluation/leetcode_oj/leetcode_env/utils/__pycache__/leetcode.cpython-310.pyc
.env
